[user]
	name = Zhenkai Jiang
	email = zk.jiang@gmail.com
[color]
	ui = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	new = green bold
	whitespace = red reverse

[color "status"]
	added = yellow
	changed = green
	untracked = cyan	
 
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	dc = diff --cached
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	ls = ls-files
	today = !git log --since=\"12 hours ago\" --author=\"`git config --get user.name`\" --reverse --pretty=format:%s

        # Show files ignored by git:
        ignore = ls-files -o -i --exclude-standard
        
        fixup = !sh -c 'git commit --fixup=$1' -
        squash = !sh -c 'git commit --squash=$1' -
        ri = rebase --interactive --autosquash

[branch]
	#tells git-branch and git-checkout to setup new branches with --track
	autosetupmerge = true
[push]
	default = simple	
[rerere]
	enabled = 1
  
[rebase]
	autosquash = true
[fetch]
	prune = true
[merge]
	defaultToUpstream = true
